.container {
    margin-top: 100px;
    text-align: center;
}

.value {
    margin: 0 20px;
    font-size: 18px;
    font-weight: 600;
}

:global(  .ant-btn + .ant-btn) {
    margin-left: 10px;
}

h2 {
    margin: 20px 0;
}
