.counter-wrapper{
    margin-top: 100px;
    text-align: center;
}
.counter-wrapper .value{
    margin: 0 20px;
    font-size: 20px;
    font-weight: 600;
}
.counter-wrapper .ant-btn + .ant-btn{
    margin-left: 10px;
}
.counter-wrapper h2{
    margin: 20px 0;
}
.counter-wrapper .ant-btn{
    font-size: 20px;
}